.style{
    margin-left: 10rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.head{
    margin-left: 5rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}